#keep prying eyes out of our config files
<files *.ini>
	order allow,deny
	deny from all
</files>

#keep prying eyes out of our pw files
<files *.pw>
	order allow,deny
	deny from all
</files>

#phpBitsTheater framework redirection
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?url=$1 [PT,QSA,L]	
</IfModule>

#Please consider moving the contents of this file into 
#your webserver's httpd.conf like so:
#
#    <Directory /www/this/folders/path>
#    RewriteCond ...
#    </Directory>
#    
#The resulting performance & security gains may be worth it.
