/**
 * BITS CSS STYLES
 */

/**
 * General page style. 
 */
body {
	background-color: LightSteelBlue;
	margin: 0px;
	padding: 0px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#container-header {
	background-color: Navy;
	height: 80px;
	width: 100%;
	color: white;
	font-weight: bolder;
	font-size: 12px;
	text-align: left;
	text-indent: 3px;
}
#container-header a:link, #container-header a:active, #container-header a:visited {
	color: LightSteelBlue;
	text-decoration: none;
}
#container-header .title {
	font-weight:bold;
	font-size:24px;	
}

#container-body {
	width:96%;
	margin-left:auto;
	margin-right:auto;
}

#container-footer {
	font-size:12px;
	text-align:center;
	border-top:solid 1px #000000;
	padding:5px;
}

/* Error Display */
div#container-error {
	background-color: black;
	font-family: Lucidatypewriter, Courier New, monospace;
	font-size: 14px;
}

div#container-error .msg-context {
	color: yellow;
}

.msg-error {
	color: #FF3366;
	font-weight: bolder;
}

div#container-error .msg-debug {
	color: aqua;
}

div#container-error .msg-trace {
	color: lime;
}

/* Data Entry/Display */
.data-outline {
	border:solid 1px #000000;
	font-size: 11px;
}

.list-header {
	background-color:#142c3e;
	color:white;
}

.list-header A:link,a:visited,a:active,a:hover {
	color:white;
}

tr.rowh {
	background-color: Navy;
	color: LightSteelBlue;
	text-decoration: underline;
}

tr.row1 {
/*background:url('../images/row1.gif'); */
}

tr.row2 {
	background-color: #C0C0C0;
/*background:url('../images/row2.gif'); */
}

tr.row-hover {
/*background:url('../images/hover.jpg'); */
}

table.data-entry {
	
}

table.data-entry .data-label {
	font-size: 11px;
	font-weight: bolder;
	text-align: right;
}

table.data-entry .data-field {
	
}

table.data-display {

}

.smalltext {
	font-size: x-small;
	font-family: verdana, sans-serif;
}

.infotext {
	font-size: 10px;
	font-style: italic;
}

input.hidden {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
}

/* main submit button */
input.mainoption {
	font-weight: bolder;
}

/* secondary submit button (usually a reset) */
input.liteoption {
}

a:link,a:active,a:visited {
	color: MidnightBlue;
	text-decoration: none;
}

a:hover {
	color: Purple;
	text-decoration: underline;
}

